.input {
  border-width: 0px;
  padding: 8px 15px;
  width: 100%;
  display: block;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  border-radius: 3px;
}

.input:focus {
  outline: none;
  outline: 2px solid transparent;
  outline-offset: 2px;
  box-shadow: 0 0 0 2px #e2e8f0;
}
